<div class="news-container container">

    <div class="row">
        <div class="col-sm-12">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="row">
        <section class="news-section" *ngFor="let n of news">
            <article>
                <header *ngIf="n.title">
                    <h4>
                        <a href="{{n.url}}" target="_blank">{{n.title}}</a>
                    </h4>
                </header>

                <div class="clearfix">

                    <img src="{{n.urlToImage}}" alt="(no image)"
                         class="img-fluid img-thumbnail"
                         [ngClass]="n.urlToImage ? 'col-sm-2' : ''"
                         *ngIf="n.urlToImage" />

                    <p [ngClass]="n.urlToImage ? 'col-sm-10' : ''" *ngIf="n.description" [innerHTML]="n.description"></p>

                </div>

                <footer *ngIf="n.publishedAt">
                    <div>{{getDate(n.publishedAt)}}</div>
                </footer>
            </article>
        </section>
    </div>
</div>
