
<style>
    .horizontal-scroll-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: auto;
    }

        .horizontal-scroll-wrapper section {
            display: inline-block;
            max-width: 600px;
            white-space: normal;
            margin: 10px;
            vertical-align: top;
        }
</style>

<div class="horizontal-scroll-wrapper">
    <section *ngFor="let n of news">
        <article>
            <header>
                <h1>
                    <a href="{{n.url}}" target="_blank">{{n.title}}</a>
                </h1>
            </header>

            <img src="{{n.urlToImage}}" alt="(no image)" class="img-fluid img-thumbnail" />

            <p>{{n.description}}</p>

        </article>
    </section>
</div>
