<div class="news-container container-fluid">

    <div class="row">
        <div class="col-sm-12 news">
            <news-section [news]="peopleNews"></news-section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 news">
            <news-section [news]="techNews"></news-section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 news">
            <news-section [news]="autoNews"></news-section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 news">
            <news-section [news]="realtNews"></news-section>
        </div>
    </div>
</div>