<style>
    h2{
        margin-top: 0px;
    }
</style>

<div class="bank-container container">

    <div class="row" style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px">
        <div class="col-sm-4 currencies" *ngFor="let rate of homeViewModel.currentRates">
            {{rate.Cur_Abbreviation}} // {{rate.Cur_OfficialRate}}
        </div>
    </div>

    <div class="row">

        <div class="col-sm-9">
            <h2>Last news</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <specific-news-section [news]="homeViewModel.lastBelNews"></specific-news-section>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>refinancing rate</h4>
                    <div>
                        {{homeViewModel.refinancingRate.Value}}%
                        <small> ({{homeViewModel.refinancingRate.Date}})</small>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>weather</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Wind speed</td>
                                <td>{{homeViewModel.weather.wind.speed}}m/s</td>
                            </tr>
                            <--<tr>
                                <td>Cloudiness</td>
                                <td>{{homeViewModel.weather.weather[0].description}}</td>
                            </tr>-->
                            <tr>
                                <td>Pressure</td>
                                <td>{{homeViewModel.weather.main.pressure}}hpa</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td>{{homeViewModel.weather.main.humidity}}%</td>
                            </tr>
                            <tr>
                                <td>Sunrise</td>
                                <td>{{dateFormatter(homeViewModel.weather.sys.sunrise)}}</td>
                            </tr>
                            <tr>
                                <td>Sunset</td>
                                <td>{{dateFormatter(homeViewModel.weather.sys.sunset)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
</div>