<div class='main-nav'>
    <div class='navbar navbar-inverse navbar-default'>

        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>This Is Portal</a>
        </div>

        <div class='clearfix'></div>

        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <a href="/"><span class='glyphicon glyphicon-home'></span> Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <span class='glyphicon glyphicon-list'></span>
                        Top News
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/news/world">World news</a></li>
                        <li><a href="/news/belarus">Belarus news</a></li>
                        <li class="divider"></li>
                        <li><a href="/news/tut">TUT news</a></li>
                        <li><a href="/news/onliner">Onliner news</a></li>
                        <li><a href="/news/belsat">Belsat news</a></li>
                        <li><a href="/news/belarus-partisan">Belarus partisan news</a></li>
                        <li><a href="/news/nasha-niva">Nasha niva news</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <span class='glyphicon glyphicon-piggy-bank'></span>
                        National Bank RB
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/bank/currencies">Currencies</a></li>
                        <li><a href="/bank/ingots">Ingots</a></li>
                        <li><a href="/bank/refinancing-rates">Refinancing rates</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/oil"><span class='glyphicon glyphicon-tint'></span> Oil</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Training <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/products"><span class='glyphicon glyphicon-hdd'></span> Products</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/shop"><span class='glyphicon glyphicon-shopping-cart'></span> Shop</a></li>
                        <li><a href="/user"><span class='glyphicon glyphicon-user'></span> My</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>