<div class="bank-container container-fluid">

    <div class="row metal-navigation">
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li *ngFor="let metal of ingotViewModel.metals">
                    <a><span id="{{metal.Id}}" (click)="getRate(metal.Id)">{{metal.NameEng}}</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" *ngIf="ingotViewModel.ingotsRate && ingotViewModel.ingotsRate.length > 0">
        <div class="col-sm-12">
            <h2>Current rate</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <metal-section [metalRates]="ingotViewModel.ingotsRate"></metal-section>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="ingotViewModel.chartData && ingotViewModel.ingotsRate && ingotViewModel.ingotsRate.length > 0">
        <div div class="col-sm-12">
            <h2>Last years statistic for {{ingotViewModel.ingotsRate[0].Nominal}} g</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <chart-form [inputData]="ingotViewModel.chartData"></chart-form>
                </div>
            </div>
        </div>
    </div>

    <default-metal-section *ngIf="ingotViewModel.showDefault"></default-metal-section>
</div>