<div class="news-container container-fluid">

    <div class="row">

        <div class="col-sm-3 channels">
            <aside *ngFor="let channel of worldNewsViewModel.channels">
                <section id="{{channel.id}}" (click)="getNewsById(channel.id)">{{channel.name}}</section>
            </aside>
        </div>

        <div class="col-sm-9 news">
            <section *ngFor="let n of worldNewsViewModel.news">
                <article>
                    <header>
                        <h1>
                            <a href="{{n.url}}" target="_blank">{{n.title}}</a>
                        </h1>
                    </header>

                    <img src="{{n.urlToImage}}" alt="(no image)" class="img-fluid img-thumbnail" />

                    <p [innerHTML]="n.description"></p>

                    <footer>
                        <address>
                            <a href="http://www.bbc.co.uk/news" target="_blank">{{n.author}}</a>
                        </address>

                        <div>{{getDate(n.publishedAt)}}</div>
                    </footer>
                </article>
            </section>

            <div class="alert alert-warning" *ngIf="worldNewsViewModel.showError">
                <p>Sorry, news is not found for this channel</p>
            </div>
        </div>
            
    </div>
</div>