<div class="sub-header">
    <h2>User Cart Products</h2>

    <button (click)="deleteAll()" class="btn btn-sm btn-danger">Remove all</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Model</td>
            <td>Company</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p?.name}}</td>
            <td>{{p?.company}}</td>
            <td>{{p?.price}}</td>
            <td>
                <button (click)="delete(p.id)" class="btn btn-sm btn-danger">Remove</button>
            </td>
        </tr>
    </tbody>
</table>