<div class="news-container container">

    <div class="row">
        <div class="col-sm-12 news">
            <h2>Top Nasha Niva News</h2>

            <div class="panel panel-default">
                <div class="panel-body">

                    <ul class="list">
                        <cdk-virtual-scroll-viewport style="height: 600px" itemSize="170">
                            <ng-container *cdkVirtualFor="let n of news">
                                <li class="list-item">
                                    <h1><a href="{{n.url}}" target="_blank">{{n.title}}</a></h1>
                                    <div>{{getDate(n.publishedAt)}}</div>
                                </li>
                            </ng-container>
                        </cdk-virtual-scroll-viewport>
                    </ul>

                </div>
            </div>

            <!--<section *ngFor="let n of news">
        <article>
            <header>
                <h1>
                    <a href="{{n.url}}" target="_blank">{{n.title}}</a>
                </h1>
            </header>

            <p>{{n.description}}</p>

            <footer>
                <div>{{getDate(n.publishedAt)}}</div>
            </footer>
        </article>
    </section>-->

        </div>
    </div>

</div>