
<section *ngFor="let n of news">
    <article>
        <header *ngIf="n.title">
            <h4>
                <a href="{{n.url}}" target="_blank">{{n.title}}</a>
            </h4>
        </header>
        
        <img src="{{n.urlToImage}}" alt="(no image)" class="img-fluid img-thumbnail"  *ngIf="n.urlToImage" style="width: 100%"/>

        <p *ngIf="n.description">{{n.description}}</p>

        <footer *ngIf="n.publishedAt">
            <div>{{getDate(n.publishedAt)}}</div>
        </footer>
    </article>
</section>
