img {
    padding: 0
}

a {
    cursor: pointer
}

.news-container {
    position: relative;
    margin-top: -20px;
}

.channels, .news {
    height: 90vh;
    transition: all .3s ease-out;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
}

.channels aside {
    list-style: none; 
    padding: 0; 
    margin: 0;
    background-color: #444;
}

.channels aside {
    padding: 0;
    margin: 0;
}

    .channels aside section {
        padding: 20px;
        color: #ccc;
        background-color: #333;
        border-bottom: 1px solid #ccc;
        border-left: 10px solid transparent;
        cursor: pointer;
        color: #9d9d9d;
        font: bold;
    }

    .channels aside section:hover {
        background-color: #808080;
        color: white;
    }

@media all and (max-width: 768px) {
    .channels {
        height: 30vh;
    }
}

.alert{
    margin: 20px;
    text-align:center
}