<div class="bank-container container-fluid">

    <div class="row">
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>

                <li *ngFor="let metal of metals">
                    <a><span id="{{metal.Id}}" (click)="getRate(metal.Id)">{{metal.NameEng}}</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row metal">
        
        <div class="col-sm-12"  *ngIf="ingotsRate && ingotsRate.length > 0">
            <h2>Current rate</h2>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <metal-section [metalRates]="ingotsRate"></metal-section>
                </div>
            </div>
        </div>

        <div div class="col-sm-12" *ngIf="chartData && ingotsRate && ingotsRate.length > 0">
            <h2>Last years statistic for {{ingotsRate[0].Nominal}} g</h2>

            <div class="panel panel-default">
                <div class="panel-body">
                    <metal-chart-form [inputData]="chartData"></metal-chart-form>
                </div>
            </div>
        </div>

        <div class="col-sm-12" *ngIf="showDefault">
            
            <default-metal-section></default-metal-section>
        </div>
    </div>
</div>